<% if record.errors.any? %>
  <div class="mobile-form-error">
    <strong>Please check the details below.</strong>
    <ul class="mobile-list">
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
