<div class="row">
  <div class="col-12">
    <h1 class="mb-4">About</h1>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kindling API</h5>
        <p class="card-text">
          This is the backend API for the Kindling estate planning application.
        </p>
        
        <h6 class="mt-4">Technology Stack</h6>
        <ul>
          <li>Ruby <%= RUBY_VERSION %></li>
          <li>Rails <%= Rails.version %></li>
          <li>PostgreSQL Database</li>
          <li>Bootstrap 5 for Admin UI</li>
        </ul>
        
        <h6 class="mt-4">Features</h6>
        <ul>
          <li>Rails 8 Native Authentication</li>
          <li>RESTful API endpoints</li>
          <li>Super Admin Dashboard</li>
          <li>Database Viewer (Motor Admin)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

