<% content_for :title, "" %>

<% footer_actions = capture do %>
  <%= button_to "Create your will and estate plan", mobile_intro_continue_path, method: :post, class: "mobile-button" %>
  <%= link_to "Log in", mobile_login_path, class: "mobile-button-secondary" %>
<% end %>

<% content_for :mobile_footer do %>
  <%= render "mobile/shared/sticky_actions", body: footer_actions %>
<% end %>

<section class="mobile-screen mobile-screen--intro">
  <div class="mobile-intro__logo-block">
    <%= image_tag "mobile/kindling-dark.png", alt: "Kindling", class: "mobile-intro__logo" %>
    <p class="mobile-intro__tagline">Protect today. Build tomorrow.</p>
  </div>
</section>
